@{
    ViewBag.Title = "Home Page";
}
@section header {
        <!-- start header -->
         <div id="header" ng-controller="mainController">
            <div class="content">
               <h1>SARABI LLC</h1>
               <p>{{tagLine}}</p>
            </div>
         </div>
         <!-- end header -->

}
@section navbar {
         <!-- start .navbar -->
         <div class="navbar">
            <div class="navbar-inner">
               <div class="container">
                  <ul class="nav">
                     <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                     <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                     <li>@Html.ActionLink("Services", "Index", "Services")</li>
                     <li>@Html.ActionLink("Companies", "Index", "Companies")</li>
                     <li>@Html.ActionLink("Register", "Register", "Account")</li>
                     <li>@Html.ActionLink("SignIn", "SignIn", "Account")</li>
                     <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                     <li>@Html.ActionLink("About", "About", "Home")</li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- end .navbar -->
}
@section footer {
             <!-- startfooter -->
         <div id="footer">
            <div class="content">
               <p>Copyright &copy;2014 Sarabi LLC | <a href="panchaldineshb@gmail.com">Contact Us</a></p>
            </div>
         </div>
         <!-- end footer -->
}

         <!-- start #wrapper -->
         <div id="wrapper">
            <div id="outer1" ng-controller="mainController">
               <div class="content">
                  <h3>Bundles Supported: {Left 20%}</h3>
                  <div ng-repeat="bundle in bundlesSupported">
                     <p><a href="{{bundle.name}}">{{bundle.displayName}}</a></p>
                  </div>
               </div>
               <!-- end content -->
            </div>
            <!-- start topbar -->
            <div id="topbar">
               <div class="content">
                  <h3>Top Bar 60%</h3>
                  <p>You can have any number of columns as long as the total width is 100%;</p>
                  <p>This top bar can be any combined width of the lower columns and can span any number of columns.</p>
                  <p>All this is done with simple divs.</p>
               </div>
            </div>
            <!-- end topbar -->
            <div id="outer5">
               <div class="content">
                  <h3>Right 20%</h3>
                  <p>Etiam ullamcorper purus eget felis. Ut mollis pretium nisl. Nulla suscipit pellentesque lacus. Sed condimentum iaculis massa. In leo nisl, porttitor at, fermentum a, vulputate nec, dui. Praesent quis nisi eget felis tincidunt tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla augue. Duis in ipsum at ante egestas accumsan.</p>
               </div>
               <!-- end content -->
            </div>
            <!-- end outer5 -->
            <br />
            <div id="outer2">
               <div class="content">
                  <h3>Mid Left 15%</h3>
                  <p>This layout has been tested in IE6, IE7, Firefox, Opera, Safari(PC) and Chrome all latest versions.</p>
                  <p>All the colors are background color, so there is no need for background images to give the impression of full height columns.</p>
               </div>
               <!-- end content -->
            </div>
            <!-- end outer2 -->
            <div id="outer3">
               <div class="content">
                  <h3>Mid Center 30%</h3>
                  <p>This layout has been tested in IE6, IE7, Firefox, Opera, Safari(PC) and Chrome all latest versions.</p>
                  <p>All the colors are background color, so there is no need for background images to give the impression of full height columns.</p>
                  <p>All five columns will end at the footer.</p>
               </div>
               <!-- end content -->
            </div>
            <!-- end outer3 -->
            <div id="outer4">
               <div class="content">
                  <h3>Mid Right 15%</h3>
                  <p>This layout has been tested in IE6, IE7, Firefox, Opera, Safari(PC) and Chrome all latest versions.</p>
                  <p>All the colors are background color, so there is no need for background images to give the impression of full height columns.</p>
                  <p>All five columns will end at the footer.</p>
                  <p>IE6 does require a couple of hacks to overcome its lack of min/max width and its rounding errors when using percentage values.</p>
               </div>
               <!-- end content -->
            </div>
            <!-- end outer4 -->
         </div>
         <!-- end #wrapper -->

